<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
		</head>
		<body>
			<nav>
				<ul>
					<li><a href="/">Blog</a></li>
					<li><a href="/apps">Apps</a></li>
					<li><a href="/more">More</a></li>
				</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
				
				<ul>
					<li id="copyright">© Joseph Pratt</li>
					<li><a href="mailto:josephlars@hotmail.com">email</a></li>
					<li><a href="https://github.com/JosephLars">github</a></li>
				</ul>
			</footer>
		</body>
		<script>
			$('#copyright').html("© " + new Date().getFullYear() + " Joseph Pratt");
		</script>
	</html>
